__pycache__/
.ipynb_checkpoints/
data/dam_bathymetry/
data/interpolated_contours/

daily_wl&meteo_data.xlsx
p_coef_A_linear.dat
p_coef_V_linear.dat
prepare_mass_balance.py
data/daily_wl&meteo_data_synthetic_edits.xlsx
water_balance_data_with_mass_balance.xlsx
water_balance_data_with_mass_balance_excel_formulas.xlsx
session_4_time_series_with_answer.ipynb
session_6_fitting_obsolete.ipynb
session_6_uncertainty_with_answers.ipynb
session_6_fitting_with_answers.ipynb
session_07_plotting_with_answers.ipynb
data/weather_data_by_month.xlsx
